<div class="container">
  <h1>Benefice total</h1>
  <form>
    <label for="date">Date debut</label>
    <input type="date" id="date" />
    <label for="date">Date fin</label>
    <input type="date" id="date" />
  </form>
  <br />
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Resto 1</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">Vente total : 1 000 000 Ariary</li>
          <li class="list-group-item list-group-item-secondary">Total prix de revient : 750 000 Ariary</li>
          <li class="list-group-item list-group-item-success">Benefice total : 250 000 Ariary</li>
        </ul>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Resto 1</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">Vente total : 1 000 000 Ariary</li>
          <li class="list-group-item list-group-item-secondary">Total prix de revient : 750 000 Ariary</li>
          <li class="list-group-item list-group-item-success">Benefice total : 250 000 Ariary</li>
        </ul>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Resto 1</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary">Vente total : 1 000 000 Ariary</li>
          <li class="list-group-item list-group-item-secondary">Total prix de revient : 2 250 000 Ariary</li>
          <li class="list-group-item list-group-item-success">Benefice total : 750 000 Ariary</li>
        </ul>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>

    
  </div>
  <div class="row">
    <h3>Benefice total</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">Vente total : 3 000 000 Ariary</li>
      <li class="list-group-item list-group-item-secondary">Total prix de revient : 750 000 Ariary</li>
      <li class="list-group-item list-group-item-success">Benefice total : 250 000 Ariary</li>
    </ul>
  </div>
</div>
