<div class="container">
  <h1>Liste des restaurants</h1>
  <!--LIste restos vaovao-->
  <div class="row">
    <div class="col-sm-6" *ngFor="let resto of restos">
      <div class="card">
        <img src="{{resto.image || 'assets/images/restaurant.png'}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{resto.nom}}</h5>
          <p class="card-text">Adresse : {{resto.adresse}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--Fin liste restos vaovao-->
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <button (click)="nouveauResto()" class="btn btn-outline-success me-2">Ajouter un restaurant</button>
    </form>
  </nav>
</div>
