<div class="container">
  <app-header></app-header>
  <div class="row">
    <h1>Commandes</h1>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Numero commande</th>
          <th scope="col">Date commande</th>
          <th scope="col">Client</th>
          <th scope="col">Adresse client</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>000009</th>
          <th scope="col">14/03/2022</th>
          <th scope="col">Rakotoson Fabien</th>
          <th scope="col">Adresse de Fabien</th>
          <th>Non livre</th>
        </tr>
        <tr>
          <th>000010</th>
          <th scope="col">14/03/2022</th>
          <th scope="col">Rakotoson Fabien</th>
          <th scope="col">Adresse de Fabien</th>
          <th>Non livre</th>
        </tr>
      </tbody>
    </table>
  </div>
  <app-footer></app-footer>
</div>

