<div class="container">
  <hr>
  <form #loginPost="ngForm" (ngSubmit)="login(loginPost.value)">
    <div class="row">
      <div class="mb-3">
        <label for="email" class="form-label">Adresse email</label>
        <input name ="email" type="email" class="form-control" id="email" placeholder="name@example.com" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="mdp" class="form-label">Mot de passe</label>
        <input name="mdp" type="password" class="form-control" id="mdp" placeholder="Mot de passe" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="type_user" class="form-label">Type utilisateur</label>
        <select name="id_type_u" id="id_type_u" class="form-select form-control" aria-label="Default select example" ngModel>
          <option *ngFor="let type_user of type_utilisateur" [value]="type_user._id">{{type_user.nom}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Se connecter</button>
      </div>
    </div>
    </form>
</div>
