<div class="container">
  <app-header></app-header>
  <div id="">
    <h3>Choix du livreur que je vais toogler</h3>
    <!--Liste livreur-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Nb livraison</th>
          <th scope="col">Choisir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col">Nom</td>
          <td scope="col">Adresse</td>
          <td scope="col">Nb livraison</td>
          <td scope="col"><button>Choisir</button></td>
        </tr>
      </tbody>
    </table>
    <!--Liste livreur-->
  </div>
  <h1>Commandes en cours</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Adresse client</th>
        <th scope="col">Client</th>
        <th scope="col">Montant (Ar)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Date</td>
        <td scope="row">Adresse client</td>
        <td scope="row">Client</td>
        <td scope="row">25 000</td>
        <td scope="row"><button (click)="livrer_click()">Livrer</button></td>
      </tr>
    </tbody>
  </table>
  <app-footer></app-footer>
</div>
