<app-header></app-header>
<div class="container">
  <h1>Liste des plats</h1>

  <!----->
  <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let plat of plats">
      <img class="card-img-top" src="{{plat.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{plat.nom}}</h5>
        <div *ngIf="commandePlat">
          <a href="#" class="btn btn-primary">Commander plat</a>
        </div>

      </div>
    </div>
  </div>
  <!--nouveau plat-->
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
      <button (click)="nouveauPlat()" class="btn btn-outline-success me-2">Ajouter un plat</button>
    </form>
  </nav>
</div>
<app-footer></app-footer>
