<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Mon panier</h2>
      <h4>Montant total : 50 000 Ariary</h4>
      <!--Liste des commandes-->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="Image plat">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Plat 1 (5 000 Ariary)</h5>
              <p class="card-text">Quantite : 5 <button>-</button><button>+</button></p>
              <p class="card-text">Total : 25 000 Ariary</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="Image plat">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Plat 1 (5 000 Ariary)</h5>
              <p class="card-text">Quantite : 5<button>-</button><button>+</button></p>
              <p class="card-text">Total : 25 000 Ariary</p>
            </div>
          </div>
        </div>
      </div>
      <button>Valider commande</button>
      <!--Liste des commandes-->
    </div>
    <div class="col-md-4">
      <h5>Glisser des commandes ici pour mettre de cotes</h5>
    </div>
  </div>
</div>
